<div class="nav">
    <div class="nav__wrapper">
        <h1 class="fnt-lg col-white" style="margin: 0;">cost</h1>
        <div class="nav-list fnt-md col-white">
            <a class="col-white"  [routerLink]="['/add-cost']" routerLinkActive="router-link-active">Add Cost</a>
            <a *ngIf="(isAuthenticated$ | async)" class="col-white" (click)="logout()" [routerLink]="['/']" routerLinkActive="router-link-active">Logout</a>
            <a *ngIf="!(isAuthenticated$ | async)" class="col-white" (click)="login()" routerLinkActive="router-link-active">login</a>
            <a *ngIf="!(isAuthenticated$ | async)" class="col-white" (click)="signup()" routerLinkActive="router-link-active">Signup</a>
        </div>
    </div>

</div>
<div class="container">
    <router-outlet></router-outlet>
</div>

