
.addCost {
    padding: 10rem;
    background-color: orange;
    &-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    width: 70%;
        &__desc{
            flex: 1 1 100%;
        }
    }
}

.input-field {
    min-width: 25rem;
    max-width: 30rem;

}